.formContainer{
    width: 30%;
    /* display: flex; */
    box-shadow: 0px 0px 0px 2px gray;
    padding: 20px;
    border-radius: 10px;
    opacity: 2;
    backdrop-filter: saturate(180%) blur(15px);
}

.formMain{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url('https://thumbs.dreamstime.com/b/word-relax-beach-9360664.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.box{
    display: flex;
    flex-direction: column;
}

@media screen and (max-width: 1000px) {
.formContainer{
    width: 90%;
}
}

